.row{
    width: auto;
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 5%;
}

.inputForm{
    background-color: aquamarine;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 6%;
    padding-bottom: 6%;
}